<div class="jumbotron">
    <h1>Welcome to Ruby & Rails, and PHP Developer Protfolio</h1>    
    <h3>We can be contact 24/7, I'm just a call away</h3>    
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>        
            <h4>Sign up for free and get basic access to the developer community.</h4>
            <br/>
            <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class:'btn btn-primary btn-block' %>
        </div>
    </div>
     <div class="col-sm-6">
         <div class="well">
            <h2 class="text-center">Pro Membership</h2>        
            <h4>Sign up for pro with 5$/month only and get full access to the developer community, includes full profile access to the developers page and much more!</h4>
            <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class:'btn btn-success btn-block' %>
        </div>
    </div>
</div>
